<h1>Articles index</h1>
<table class="primary">
<thead>
	<th>Description</th>
	<th>Borrowed Since</th>
	<th></th>
	<th></th>
</thead>
<tbody>
	{{#each model as |article|}}
	<tr>
		<td>{{article.description}}</td>
		<td>{{article.createdAt}}</td>
		<td></td>
		<td></td>
	</tr>
	{{/each}}
</tbody>
</table>