<h1>Articles index</h1>
<table class="primary">
<thead>
	<th>Description</th>
	<th>Notes</th>
	<th>Borrowed Since</th>
	<th>Status</th>
</thead>
<tbody>
	{{#each model as |article|}}
	   {{articles/article-row article=article articleStates=possibleStates}}
	{{/each}}
</tbody>
</table>
